.bannerSection {
  background-image: url("https://images.unsplash.com/photo-1593188885109-3dcf01e13336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  height: 400px;
  width: 78em;
  margin: 1em;
}
